body {
  background-color: black;
  background-image: url(src/assets/bgd1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
